.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.loadSpinner {
  width:20px;
  height:20px;  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Banner {
  padding: 20px;
}

nav {
  margin-top: 10px;
  margin-left: 20px;
}

/*.top-bar, .top-bar-left, .menu-text, .top-bar-right {
  background: blue;
}*/

/*ul.menu, li.menu-text {
  padding: 0px 0px 0px 1rem;
}*/

.top-bar {
  padding: 0;
}

.fi-info, .fi-plus, .fi-minus {
   font-size: 12px;
}

/*.fi-info {
   font-size: 18px;
}*/

/*.infoButton {
  padding: 0.85em;
}*/