<br>
{{#if userDisplayName}}
	<a href="/home"><b>PORTFOLIO OVERVIEW</b></a>
{{/if}}

<div class="WelcomePageContainer">
	<div id="image"><img src="img/png/003-arrow.png"></div>
	<div id="tagline">Manage your investments like a pro!</div>
</div>